@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Webfont: Kompagnia-Regular */@font-face {
    font-family: 'Kompagnia';
    src: url('./Font/Kompagnia.woff2') format('woff2'), /* Modern Browsers */
         url('./Font/Kompagnia.woff') format('woff'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

:root {
    /* Primary color (base) */
    --color-primary-500: #3498db;
  
    /* Primary color lighter variants */
    --color-primary-50: #eaf4fb;      /* Very light */
    --color-primary-100: #d6eaf8;
    --color-primary-200: #aed6f1;
    --color-primary-300: #85c1e9;
    --color-primary-400: #5dade2;
  
    /* Primary color darker variants */
    --color-primary-600: #DC57E7;
    --color-primary-700: #870F88;
    --color-primary-800: #510752;
    --color-primary-900: #270E35;
      /* Gray color variants */
      --color-gray-100: #f8f9fa; /* Lightest gray */
      --color-gray-200: #e9ecef;
      --color-gray-300: #dee2e6;
      --color-gray-400: #ced4da;
      --color-gray-500: #adb5bd; /* Medium gray */
      --color-gray-600: #6c757d;
      --color-gray-700: #495057;
      --color-gray-800: #343a40;
      --color-gray-900: #212529; /* Darkest gray */


      --letter-spacing-value: 1.5px; /* Define the variable */ 

    }
  
/* .conclave{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width:1000px) {
    .conclave{
        grid-template-columns: repeat(1,1fr);
    }
}
.conclave-subsection{
    padding: 10px;
}
.conclave-subsection h1{
    text-align: center;
}
.conclave-heading{
    font-size: 30px;
    color: white;
    text-align: center;
} */

#conclave {
    margin: 20px 0px;
}

.conclave-heading {
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(180deg, #800785 0%, #BF82C1 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
}

.conclave-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conclave-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 225px;
    height: 40vh;
    margin: 10px 0px;
    background: linear-gradient(135deg, #740679, #120112);

    /* box-shadow: 20px 20px 40px -6px var(--color-primary-800); */
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    transition: transform 700ms;
}

.conclave-subcontainer:hover {
    cursor: pointer;
    /* transform: scale(1.1) translateY(-10px); */
}

.conclave-subcontainer strong {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    transition: transform 700ms;
    letter-spacing: var(--letter-spacing-value);
}

.conclave-subcontainer strong:hover {
    transform: scale(1.05);
    color: var(--color-primary-600);
}
.conclave-subcontainer strong{
    font-family:'Kompagnia' ;
}

.conclave-subcontainer p {
    padding: 0px 10px;
    font-size: 15px;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    transition: transform 700ms;
    text-align: justify;
    font-family: "Open Sans", sans-serif;

}

.conclave-subcontainer p:hover {
    transform: scale(1.02);
}